
/*-------------------------Header-----------------------*/
body {background: url(img/headbar.jpg) repeat-x;}
#header {
	width:100%;
	height: 160px;
	padding-bottom:10px;
	box-shadow: 0 5px 10px -2px #9B9B9B;
	margin: 0px auto;
}
.headinfo {
	width:50%;
	margin-left:990px;
}
#logo {
/*	border-style: solid;
	border-color: #FF0000;*/
	width: 100%;
	height:120px;
	overflow:hidden;
	text-align: center;
	margin: 0px auto;
}

/*Menu選單*/
.menuContrl {
	display:none;
}
#menu {
	width: 650px;
	height:40px;
	margin-top: 1px;
	margin: 0px auto;
}
#menu > ul {
	list-style:none;
	width: 650px;
}
#menu > ul > li {
	width:100px;
	height:40px;
	margin-right:20px;
	display:block;
	float:left;
	text-align:center;
}
#menu > ul > li > a {
	color:#000000;
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	text-shadow:1px 1px 0px #FFFFFF;
	letter-spacing:2px;
	border-bottom: 1px solid #4c58bd;
}
#menu > ul > li > a:hover {
	color:#949494;
	border-bottom: 1px solid #FF3399;
}